.auth-page {
  display: flex;
  height: 100vh;
}

.auth-image {
  flex: 1;
  background: #f0f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-image img {
  max-width: 80%;
  border-radius: 10px;
}

.auth-form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form {
  position: absolute;
  width: 80%;
  max-width: 400px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.fade-out {
  opacity: 0;
  transform: translateX(50px); 
  z-index: 1;
}


input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.toggle-btn {
  color: #3b82f6;
  cursor: pointer;
}

.message {
  color: red;
  margin-top: 10px;
}
.dashboard-card input,
.dashboard-card select {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.auth-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out; 
}

.img-fade-in {
  opacity: 1;
}

.img-fade-out {
  opacity: 0;
}
